Package: kos-freetype-dev
Version: 0.1.0
Architecture: amd64
Section: devel
Depends: kos-newlib
Pre-Depends: kos32-gcc
Priority: optional
Homepage: https://github.com/Egor00f/kos-freetype
Origin: http://git.kolibrios.org/KolibriOS/kolibrios
Maintainer: Egor00f <velikiydolbayeb@gmail.com>
Installed-Size: 8512
Description: freetype library for kolibrios
 include and binary files
